# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# VS Code settings
.vscode/
*.code-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Local config files
*.local
*.secret

#Application-specific files
program_info.json
testing/